<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @user.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @user.last_name %>
</p>

<p>
  <strong>Customer address1:</strong>
  <%= @user.customer_address1 %>
</p>

<p>
  <strong>Customer address2:</strong>
  <%= @user.customer_address2 %>
</p>

<p>
  <strong>Customer state:</strong>
  <%= @user.customer_state %>
</p>

<p>
  <strong>Customer zip:</strong>
  <%= @user.customer_zip %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
